body{background-color: #eee;}

#topNews{height: 20rem;}
#topNews .carousel-control{width: 10%}
#topNews .banner {display: flex;align-items: center;}
#topNews .banner .col img{height: 20rem;}
/*#lefttags{float: left;padding-right: 0;margin-right:0; }*/
/*#lefttags ul .active{border:solid #418bca;border-width: 4px 0 4px 4px;box-shadow: 2px 2px 3px #ccc;}*/
/*#lefttags ul li{border:3px solid #ccc;border-radius:5px 0 0 5px;position: relative;}*/
/*#lefttags ul a{font-size:2rem;font-weight: bold; text-align: right;padding-right: 1rem;}*/
/*#lefttags ul i{font-size:3rem;position:absolute; top:50%;left:30%;transform:translate(-50%,-50%);}*/
/*.rightsection{margin:0;padding:0;height:100%;}*/
/*#theory .header img{height:15em;}*/
/*#theory .header p{font-size: 2rem;text-indent: 2em;}*/
#locator{height: 10rem;background-color: #fff;margin: 1rem 0;padding: 1rem;}
#glossary{clear: both;}
#glossary .padding{background: #eee;padding:0;}
#glossary .cardFooter a{}
#glossary table td{padding-top:0;}
/*设置gutter=0，width 32% 左侧宽度 1% 可以实现完美三栏居中*/
#glossary .card{width:32%; background: white;box-shadow: 2px 2px 3px #ccc;margin-left:1%;margin-bottom:0.5rem;padding:1rem;}
#glossary .card h4{font-weight: bold;}
#glossary .card hr{margin: 0;height: 2px;background: #008080;}
#glossary .card p{text-indent: 2em;}
#getMoreCard{width: 100%;background: white;box-shadow: 2px 2px 3px #ccc;margin-bottom:0.5rem;padding:1rem;text-align: center;}
/*#about .container{background: white;box-shadow: 2px 2px 3px #ccc;margin: 1rem;padding:1rem;}*/
/*#about .logo-instruction p{text-indent: 2em;font-size: 1.5rem;}*/